
body {
	width: 100%;
    max-width: 1200px;
    margin: 10px auto 10px auto;
    font-family: "Open Sans","Segoe UI","Segoe",Helvetica,Arial,sans-serif;
}

.header {
	max-width:100%;
	margin:20px 0;
}
.header img {
	max-width:100%;
}
.row {
	margin-bottom:1em;
}

.header-buttons {
	margin:10px;
}
.navbar-nav>li a, .navbar-nav>li a:visited {
	font-size:1.3em;
	color:#0099ff !important;
	font-weight:600;
}

.navbar-nav>li a:hover {
	color:#0033a0;
}

.nav>li>a>img {
    width: 25px;
    margin-right: 8px;
}

.sidebar ul li {
    list-style: none;
    margin: 10px 0 0 10px;
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid #e6e6e6;
}

.sidebar {
    border: 1px solid #d9d9d9;
    border-left: 4px solid #0033a0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li:last-child {
    border-bottom: 0 solid;
}

.sidebar ul li:hover {
    background: #e6e6e6;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";