@import "bootstrap.min.css";
@import "IPTStyles.css";

body {
	width: 100%;
    max-width: 1280px;
    margin: 10px auto 10px auto;
    font-family: "Open Sans","Segoe UI","Segoe",Helvetica,Arial,sans-serif;
}

.header {
	max-width:100%;
	margin:20px 0;
}
.header img {
	max-width:100%;
}
.row {
	margin-bottom:1em;
}

.header-buttons {
	margin:10px;
}
.navbar-nav>li a, .navbar-nav>li a:visited {
	font-size:1.5em;
	color:#0099ff !important;
}

.navbar-nav>li a:hover {
	color:#0033a0;
}

.nav>li>a>img {
    width: 25px;
    margin-right: 8px;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: "Open Sans","Segoe UI","Segoe",Helvetica,Arial,sans-serif;
	color:#0033a0;
}

h1.page-title {
	padding:10px;
}

h3.box-title {
	margin:0;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";