<ul>
<li><a href="#">Classes and Degrees</a></li>
<li><a href="#">Biotechnology</a></li>
<li><a href="#">Diagnostic Medical Sonography</a></li>
<li><a href="#">Cardiac Sonography</a></li>
<li><a href="#">EMS/Paramedic</a></li>
<li><a href="#">Invasive Cardiovascular Technology</a></li>
<li><a href="#">Magnetic Resonance Imaging</a></li>
<li><a href="#">Medical Assisting</a></li>
<li><a href="#">Medical Front Office</a></li>
<li><a href="#">Medical Laboratory Technology</a></li>
<li><a href="#">Medical Staff Services</a></li>
<li><a href="#">Nursing</a></li>
</ul>