---
layout: default
---


<article class="page">
	<h1 class="page-title">{{ page.title }}</h1>

<div class="section">
	<div class="row">
		<div class="breadcrumb">
		Home » About DCCCD » Media Relations » News » Register Now for Winter and Spring Credit Classes
	</div>
		</div>
	</div>

	<div class="section">
		<div class="row">
			<div class="col-sm-3">
				<div class="sidebar">
					{% include sidebar.html %}
				</div>
			</div>
			<div class="col-sm-9">

				<div class="PageContent">
					<div class="entry">
						{{ content }}
					</div>
				</div>

			</div>
		</div>
	</div>
</article>







